<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>testimonialapi 404 Page</title>
    <meta name="description" content="Error 404 Page " />
    <link href="/css/miniproject.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="__next">
        <div class="text-center py-16">
            <h1 class="text-4xl py-2 text-indigo-500">404 ??</h1>
            <h3 class="text-xl">Somebody made wrong move...</h3><img src="/images/404-page.gif" alt=""
                class="w-30 h-96 mx-auto" />
            <a href="/">
                <button class="transition py-2 px-4 font-bold rounded-lg shadow-md text-white text-xl bg-indigo-500 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 focus:outline-none">
                    Back to Home
                </button>
            </a>
        </div>
    </div>
</body>

</html>